[submodule "themes/hugo-coder-lt"]
	path = themes/hugo-coder-lt
	url = https://github.com/PandaSekh/hugo-coder-lt.git
[submodule "themes/hugo-cloak-email"]
	path = themes/hugo-cloak-email
	url = https://github.com/martignoni/hugo-cloak-email.git
